

*{margin: 0%; padding: 0%;}
body{font-family: Arial, Helvetica, sans-serif; background-image: url(Design\ sem\ nome\ \(6\).png);color: #ffeaa7;}
#img1{position: absolute;margin-top: -5%;}
#img2{position: absolute; margin-top: -5%; margin-left: 80%;}
h1{position: absolute;font-family: Arial, Helvetica, sans-serif;}
h1{margin-top: 2%;margin-left: 27%; font-size: 60px;}
h2{position: absolute;margin-top: 12%;}
#valor{margin-left: 15%;}
#converter{margin-left: 40%;}
#para{margin-left: 75%;}
h2{font-size: 30px; color: white;}
#moeda{position: absolute;margin-top: 17%; margin-left: 40%;min-width: 200px; min-height: 30px;}
input{position: absolute;margin-top: 17%; margin-left: 15%;min-width: 150px; min-height: 30px;}
#moeda3{position: absolute;margin-top: 17%; margin-left: 75%;min-width: 200px; min-height: 30px;}
h1{color: #ffeaa7 ;}
button{position: absolute; margin-top: 20%; margin-left: 40%; width: 200px; height: 50px; border-radius: 10px; background-color: lightcoral;}
div{ position: absolute;width: 450px; height:150px; }
div{margin-top: 30% ; text-align: center; font-family: Arial, Helvetica, sans-serif;font-size: 40px; color:black; background-color: white; margin-left: 33%;}
